*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #f8f8f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ilustration-login {
    background-image: url(../assets/back-login.png);
    background-size: cover;
    height: 725px;
    width: 575px;
    background-repeat: no-repeat;
}

.box_form {
    display: flex;
    height: 725px;
    width: 650px;
    background-color: white;
}